@model TestCentral.Models.Test

@{
    ViewData["Title"] = "Details";
    int questionNum = 1;
    string[] multipleChoice = { "A", "B", "C", "D", "E", "F" };
    int m = 0;
}

<div>
    <h1>@Model.NameOfTest</h1>
    <br />
    <h2> Created at: @Model.CreatedAt</h2>
    <br />
    <h2> Updated at: @Model.UpdatedAt</h2>
</div>
<br />
<br />
<br />

@foreach (Question question in Model.Questions)
{
    <div>
        <h4>Question @questionNum: @question.Prompt </h4>
        @{questionNum++;}
        <br />
    </div>

    <div>
        <h6> Correct Answer: @question.Answer</h6>

        <div>
            @if (question.ImgRelatedToPrompt != null)
            {
                <img src="@question.ImgRelatedToPrompt" alt="Picture for question @questionNum" width="200" height="200" style="padding:30px">
                //We could do the styling in the CSS file.
            }
        </div>

        @if (question.Options != null)
        {
            m = 0;
            foreach (Option option in question.Options)
            {
                //Do I need to enumerate A,B,C,D,E?




                <h6>@multipleChoice[m] : @option.Label</h6>

                m++;
            }


        }
        
        <br />
    </div>


            }
<br />
<br />
<br />
<div>
    <a asp-action="UpdateTest" asp-controller="Test" asp-route-testId="@Model.Id">Edit Test</a>
    

    <!--future button to go to the edit form-->
</div>


