@model List<TestCentral.Models.Test>

@{
    ViewData["Title"] = "Index";
}
<script src="~/js/SortTable.js"></script>
<script src="~/js/searchTable.js"></script>

<h1>Index</h1>
<br />

<input type="text" class="input-group-text" id="myInput" onkeyup="searchTable()" placeholder="Search for Test Name..." style="width: 100%; border: 2px solid;">

<br />

<body class="tableData">
    <table id="sortableTable" class="table table-hover">
        <thead>
            <tr class="testHeader">
                <th>
                    Test Name <i class="fas fa-sort" onclick="sortTable(0)"></i>
                </th>
                <th>
                    Description <i class="fas fa-sort" onclick="sortTable(1)"></i>
                </th>
                <th>
                    Created<i class="fas fa-sort" onclick="sortTable(2)"></i>
                </th>
                <th>
                    Updated <i class="fas fa-sort" onclick="sortTable(3)"></i>
                </th>
                <th>
                    <a asp-action="Add" asp-controller="Test" style="color: darkgreen">Create<i class="fas fa-plus" style="        color: darkgreen;
        cursor: pointer;"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.NameOfTest
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.CreatedAt.ToShortDateString()
                    </td>
                    <td>
                        @item.UpdatedAt.ToShortDateString()
                    </td>
                    <td class="testOptions">
                        <a asp-action="UpdateTest" asp-controller="Test" asp-route-testId="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-controller="Test" asp-route-testId="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-controller="Test" asp-route-TestId="@item.Id"><i class="fas fa-trash-alt" style="color: red;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

