@model TestCentral.Models.Test

@{
    ViewData["Title"] = "UpdateTest";
    int questionNumber = 1;
    string[] multipleChoice = { "A", "B", "C", "D", "E" };
    int m = 0;
}

<h1>Edit Test</h1>

<h4>@Model.NameOfTest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateTest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameOfTest" class="control-label">Name of Test</label>
                <input asp-for="NameOfTest" class="form-control" />
                <span asp-validation-for="NameOfTest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            @foreach (Question question in Model.Questions)
            {
                <div class="form-group">
                    <h6>Question: @questionNumber</h6>
                    @{questionNumber++;}
                    <label asp-for="@question.Prompt" class="control-label"></label>
                    <input asp-for="@question.Prompt" class="form-control" />
                    <span asp-validation-for="@question.Prompt" class="text-danger"></span>
                    <label asp-for="@question.Answer" class="control-label"></label>
                    <input asp-for="@question.Answer" class="form-control" />
                    <span asp-validation-for="@question.Answer" class="text-danger"></span>

                    @if (question.Options != null)
                    {
                        m = 0;
                        @foreach (Option option in question.Options)
                        {
                            <label asp-for="@option.Label" class="control-label">Option @multipleChoice[m]</label>
                                    m++;
                            <input asp-for="@option.Label" class="form-control" />
                        }
                    }
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
